
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    letter-spacing: 0%;
    padding-left: 210px;
    
}

.header ul li {
    display: inline-block; 
    
}

.header ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: 0.3s;
    color: #1E266D;
}

.header ul li a:hover {
    color: white;
    background: black;
    border-radius: 5px;
}

.num{
    padding-left: 101px;
}
.img-1{
    padding-top: 10px;
}


.meets{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}
.text-1{
    padding-top: 144px;
    
    font-weight: 500;
    font-size: 56px;
    line-height: 58.8px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E266D;
    font-family: "Poppins";

}

.text-2{
    font-family: Halyard Text;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 27px;
    color: #455880;
    font-family: "Poppins";
}

.logo-1{
    padding-top: 29px;
}
.help{
    
}

.text-4{
    font-family: Halyard Text;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 47px;
    color: #45588080;
}

.logo{
    display: flex;
    justify-content: center;
    width: 110.46633911132812;
    height: 35.51785659790039;
    top: 1219.35px;
    left: 205px;
    padding-top: 52px;
    padding-left: 205px;
}
.lotimg{
    display: flex;
    gap: 70px;
}


.text-5{
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 159px;
    font-family: "Poppins";
    color: #1E266D;

}
.people{
    padding-left: 205px;
    height: 923px;
    width: 611px;
}

.design{
    /* display: flex; */
    margin-top: 140px;
    /* width: 405px;
    height: 193px; */
    
    
}

.group{
    display: flex;
    align-items: center;
}
.people1{
    display: flex;
    align-items: center;
    
    align-items: center;
}

.designtext{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 27.5px;
    letter-spacing: 0%;
    color: #1E266D;
    padding-left: 47px;

}

.designtext2{
    font-family: Halyard Text;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #455880;
    padding-left: 105px;
}
.bbbbb{
    display: flex;
    flex-direction: column;
}

.simple{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 289px;
    width: 1600px;
    height: 711px;
    background: #FFF9EA;
    background-image: url(img/Mask\ Group.png);
}
.text-6{
    
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Poppins";
    color: #1E266D;
}

.text-7{
    font-weight: 400;
    font-size: 21px;
    line-height: 31.5px;
    letter-spacing: 0%;
    text-align: center;
    color: #455880;
    padding-top: 40px;

}

.button1{
    padding-top: 40px;
}

.say{
    height: 1001px;
    width: 1600px;
    background: #ffffff;
}
.text-8{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 232px;
    color: #1E266D;
}

.user-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 372px;
    height: 467px;
    border: 1px solid #45588033
}